@import 'src/variables.scss';
.album {
	display: grid;
	margin-bottom: 5rem;
	&__header {
		display: grid;
		img {
			max-width: 100%;
		}
	}
	&__title {
		@include gradientText;
		margin: 4rem 0 0 2rem;
		text-transform: capitalize;
		font-size: 2rem;
		grid-area: 1/1/-1/-1;
		z-index: 10;
	}
	&__background {
		grid-area: 1/1/-1/-1;
		z-index: -10;
	}
	&__btn {
		@include btn;
		border-radius: 3em;
		border: 3px solid $primaryColor;
		color: $primaryColor;
		padding: 1.5em 3em;
		text-transform: uppercase;
		margin: 2em 0 2em 0;
		background-color: $white;
		font-weight: 900;
		width: 85%;
		place-self: center;
	}

	&__slider {
		display: flex;
		justify-content: space-around;
		overflow-y: scroll;
		height: 40vh;
		position: relative;
		align-items: center;

		a {
			text-decoration: none;
		}
	}
}
