@import 'src/variables.scss';

.categoryCard {
	display: flex;
	justify-content: space-between;
	place-items: center;
	border-radius: 10px;
	box-shadow: $shadow;
	&__category {
		color: $white;
		font-weight: bold;
		margin-left: 1rem;
	}
	&__btn {
		@include btn;
		border: none;
		background: transparent;
		margin-right: 1rem;
		&__icon {
			color: $white;
			font-size: 1.5rem;
		}
	}
}
