@import 'src/variables.scss';

.player {
	display: flex;
	overflow: scroll;
	scroll-snap-type: x mandatory;
	margin-top: 5rem;
}

.player1 {
	scroll-snap-align: start;
	display: grid;
	width: 100vw;

	&__backgroundImg {
		max-width: 100vw;
		grid-area: 1/1/-1/-1;
		place-self: center;
	}
	&__image {
		grid-area: 1/1/-1/-1;
		place-self: center;
	}
	&__title {
		place-self: center;
		margin-bottom: 0;
	}
	&__artist {
		place-self: center;
		margin-bottom: 2rem;
	}
	&__range {
		@include btn;
		border: none;
		margin: 0 1rem 0 1rem;
		height: 4px;
		background-color: $primaryColor;
		&::-webkit-slider-thumb {
			appearance: none;
			height: 20px;
			width: 20px;
			border-radius: 50%;
			background-color: $primaryColor;
			box-shadow: 0px 0px 0px 10px rgba(255, 17, 104, 0.17);
		}
	}
	&__duration {
		display: flex;
		justify-content: space-between;
		margin: 0 1rem 0 1rem;
	}
	&__controls {
		display: flex;
		justify-content: space-evenly;
		margin: 0 2rem 0 2rem;

		button {
			@include btn;
			border: none;
			background: none;
			font-size: 1.5rem;
			display: grid;
			place-self: center;

			&:nth-child(3) {
				background: linear-gradient(80deg, #ee0979, #ff6a00);
				border-radius: 50%;
				padding: 0.8rem;
				font-size: 2rem;
			}
		}
	}
}
