@import 'src/variables.scss';
.primaryNav {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: $white;
	box-shadow: $navshadow;
	&__ul {
		display: grid;
		grid-template-columns: repeat(5, auto);
		list-style: none;
		margin: 0;
		margin-top: 0.5rem;
		&__list {
			align-self: center;
		}
	}
}
