$primaryColor: #ff1168;
$secondaryColor: #341931;
$additionalColor: #111625;
$gradientColor: linear-gradient(180deg, #ee0979, #ff6a00);
$white: #fff;
$shadow: 0px 7px 8px 5px #c5c5c5;
$navshadow: 0px -4px 8px 0px #c5c5c5;

/*mixins*/
@mixin gradientText {
	background: linear-gradient(0.25turn, #ee0979, 30%, #ff6a00);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

@mixin btn {
	appearance: none;
	outline: none;
}
